<launch>
    <!-- ========== Arguments ==========-->

    <!-- Configs -->
    <arg name="input_config" default="$(find khronos_ros)/config/datasets/uHumans2.yaml"/>
    <arg name="mapper_config" default="$(find khronos_ros)/config/mapper/uHumans2.yaml"/>
    <arg name="rviz_config" default="$(find khronos_ros)/config/rviz/uHumans2.rviz"/>
    <arg name="labelspace_config"/>
    <arg name="label_remap_config" default=""/>
    <arg name="semantic_colormap_config" default=""/>

    <!-- System Args -->
    <arg name="use_prerecorded_objects" default="false"/>
    <arg name="sensor_min_range" default="0.1"/>
    <arg name="sensor_max_range" default="5.0"/>

    <!-- Experiment -->
    <arg name="evaluate" default="false"/>
    <arg name="output_dir" default="$(find khronos)/../output/"/>
    <arg name="use_gt_frame" default="true"/>

    <!-- Launch -->
    <arg name="start_visualizer" default="true"/>

    <!-- Debug -->
    <arg name="debug" default="false"/>
    <arg name="min_glog_level" default="0"/>
    <arg name="verbosity" default="0"/>
    <arg name="glog_to_file" default="false"/>
    <arg name="glog_dir" if="$(arg glog_to_file)"/>
    <arg name="rviz_verbose" default="false"/>

    <!-- Robot Frames-->
    <arg name="robot_id" default="0"/>
    <arg name="robot_frame" default="robot_$(arg robot_id)"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="map_frame" default="map"/>
    <arg name="world_frame" default="world"/>

    <!-- Input Topics -->
    <arg name="rgb_topic" default="/tesse/left_cam/rgb/image_raw"/>
    <arg name="rgb_info_topic" default="/tesse/left_cam/camera_info"/>
    <arg name="depth_topic" default="/tesse/depth_cam/mono/image_raw"/>
    <arg name="label_topic" default="/tesse/seg_cam/converted/image_raw"/>

    <!-- ========== Autogenerated Args ========== -->
    <arg name="launch_prefix" value="gdb -ex run --args" if="$(arg debug)"/>
    <arg name="launch_prefix" value="" unless="$(arg debug)"/>
    <arg name="glog_file_args" value="--logtostderr=0 --log_dir=$(arg glog_dir)" if="$(arg glog_to_file)"/>
    <arg name="glog_file_args" value="" unless="$(arg glog_to_file)"/>
    <arg name="ros_output" value="screen" unless="$(arg glog_to_file)"/>
    <arg name="ros_output" value="log" if="$(arg glog_to_file)"/>

    <!-- ========== Launch ========== -->

    <!-- Khronos -->
    <node pkg="khronos_ros" type="khronos_node" name="khronos_node" launch-prefix="$(arg launch_prefix)" args="--minloglevel=$(arg min_glog_level) -v=$(arg verbosity) $(arg glog_file_args)" required="true" output="$(arg ros_output)">
        <env name="TERM" value="xterm-256color"/>

        <!-- Robot configuration -->
        <param name="robot_id" value="$(arg robot_id)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="robot_frame" value="$(arg robot_frame)"/>
        <param name="map_frame" value="$(arg map_frame)"/>

        <!-- khronos configs -->
        <rosparam file="$(arg input_config)" ns="input" subst_value="true"/>
        <rosparam file="$(arg mapper_config)" subst_value="true"/>
        <rosparam file="$(arg labelspace_config)"/>

        <!-- Argument dependent params -->
        <param name="experiment/output_dir" value="$(arg output_dir)" if="$(arg evaluate)"/>
        <param name="frontend/pose_graph_tracker/type" value="$(eval 'PoseGraphFromOdom' if arg('use_gt_frame') else 'RosPoseGraphs')"/>
        <param name="backend/fix_input_poses" value="$(arg use_gt_frame)"/>
        <param if="$(arg use_prerecorded_objects)" name="active_window/object_detector/type" value="InstanceForwarding"/>
        <param name="semantic_label_remap_filepath" value="$(arg label_remap_config)"/>
        <param name="semantic_colormap_file" value="$(arg semantic_colormap_config)"/>

        <!-- Input Topics -->
        <remap from="~input/left_cam/depth_registered/image_rect" to="$(arg depth_topic)"/>
        <remap from="~input/left_cam/rgb/image_raw" to="$(arg rgb_topic)"/>
        <remap from="~input/left_cam/rgb/camera_info" to="$(arg rgb_info_topic)"/>
        <remap from="~input/left_cam/semantic/image_raw" to="$(arg label_topic)"/>

        <!-- Kimera topics -->
        <remap from="~pose_graph" to="/kimera_vio_ros/pose_graph_incremental" unless="$(arg use_gt_frame)"/>
        <remap from="~bow_vectors" to="/kimera_vio_ros/bow_query"/>
        <remap from="frame_registration" to="/kimera_vio_ros/kimera_vio_ros_node/register_lcd_frames"/>
    </node>

    <!-- Visualization -->
    <group if="$(arg start_visualizer)">
        <remap from="hydra_dsg_visualizer/dsg" to="khronos_node/backend/dsg"/>
        <remap from="hydra_dsg_visualizer/feature" to="khronos_node/input/left_cam/feature"/>
        <include file="$(find hydra_visualizer)/launch/hydra_streaming_visualizer.launch" pass_all_args="true">
            <arg name="color_mesh_by_label" default="true"/>
            <arg name="visualizer_config_path" default="$(find khronos_ros)/config/visualization/visualizer_config.yaml"/>
            <arg name="visualizer_plugins_path" default="$(find khronos_ros)/config/visualization/visualizer_plugins.yaml"/>
        </include>

        <include file="$(find pose_graph_tools_ros)/launch/posegraph_view.launch">
            <arg name="frame_id" value="$(arg world_frame)" />
            <arg name="graph_topic" value="pose_graph" />
            <arg name="ns" value="khronos_node/pgmo"/>
        </include>

        <node name="rviz" pkg="rviz" type="rviz" output="$(eval 'screen' if arg('rviz_verbose') else 'log')" args="-d $(arg rviz_config)"/>
    </group>

</launch>
