<launch>

    <!-- Args  -->
    <arg name="scene_graph" default="/data/datasets/khronos/tesse_cd/office/ground_truth/gt_dsg_with_mesh.json"/>

    <arg name="visualizer_config_path" default="$(find khronos_ros)/config/visualization/visualizer_config.yaml"/>
    <arg name="visualizer_plugins_path" default="$(find khronos_ros)/config/visualization/visualizer_plugins.yaml"/>

    <arg name="world_frame" default="world"/>
    <arg name="start_rviz" default="true"/>
    <arg name="rviz_file" default="uHumans2.rviz"/>
    <arg name="rviz_dir" default="$(find khronos_ros)/config/rviz"/>
    <arg name="rviz_path" default="$(arg rviz_dir)/$(arg rviz_file)"/>

    <include file="$(find hydra_visualizer)/launch/hydra_visualizer.launch"
             pass_all_args="true">
        <arg name="visualizer_ns" value="hydra_dsg_visualizer"/>
        <arg name="visualizer_frame" value="$(arg world_frame)"/>
        <arg name="start_rviz" value="$(arg start_rviz)"/>
        <arg name="rviz_path" value="$(arg rviz_path)"/>
    </include>

    <include file="$(find pose_graph_tools_ros)/launch/posegraph_view.launch">
        <arg name="frame_id" value="$(arg world_frame)" />
        <arg name="graph_topic" value="pose_graph" />
        <arg name="ns" value="incremental_dsg_builder_node/pgmo"/>
    </include>

</launch>
